.clock{
    width: 200px;
    height: 200px;
    border: 2px solid aqua;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.clock-item{
    position: absolute;
    top:50%;
    left:50% ;
    transform-origin: top;
    width: 5px;
    background-color: black;

}
.akrep{

    
     width: 5px;
     height: 43%;


}
.yelkovan{
    height: 33%;
    transform: rotate(40deg);


}
.saniye{
    background-color: rgb(143, 13, 13);
    height: 23%;
    transform: rotate(20deg);
    

}